<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
	<add key="BLA" value="http://gitlabsource.bla.co.th/api/v4/projects/78/packages/nuget/index.json" protocalVersion="3"/>
  <!-- <add key="DevExpress Feed" value="https://nuget.devexpress.com/api/" /> -->
  <add key="DevExpress Feed" value="https://nuget.devexpress.com/nsFAupbiHLcGmSajDgPQfwATYSVTcrxI5GeY2vcxGFgshzHSOx/api" />
  </packageSources>
</configuration>
